*{
    margin: 0;
    padding: 0;
}

html,
body{
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
}


/* remove link and list default styling*/

a,
a:visited{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

/* body styling*/

.header-bcolor,
.top-content-bcolor,
.center-content-bcolor,
.quote-bcolor,
.sign-up-window-bcolor,
.footer-bcolor{
    padding: 0px 200px;
}


/* header styling*/

.header-bcolor{
    background-color: #1F2937;
}

.header{
    display:flex;
    padding: 10px;
}

.logo{
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.links a{
    font-size: 18px;
    color: #E5E7EB;
}

.links ul{
    display: flex;
    gap: 20px;
}
